*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header h1{
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 40px;
}
header p{
    font-size: 20px;
}
.pads{
    background: cornflowerblue;
    width: 100%;
    display: flex;
}
.pads > div {
    height: 100px;
    width: 100px;
    flex: 1;
}
.pad1{
    background: #ff4d94;
}
.pad2{
    background: #6666ff;
}
.pad3{
    background: #ffff33;
}
.pad4{
    background: #66ff33;
}
.pad5{
    background: #ff8000;
}
.pad6{
    background: #cc00ff;
}

.visual > div {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 0;
    z-index: -1;
}

@keyframes jump{
    0%{
        bottom: 0%;
        left: 20%;
    }
    50%{
        bottom: 50%;
        left: 50%;
    }
    100%{
        bottom:0%;
        left: 80%;
    }
}